@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base
{
   body
   {
    font-family: theme('fontFamily.sans');
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @apply w-screen min-h-screen overflow-x-hidden font-sans bg-brand-blue-light;
   }

   ::-webkit-scrollbar 
    {
    width: 12px;
    }

    ::-webkit-scrollbar-track 
    {
        @apply bg-blue-400
    }

    ::-webkit-scrollbar-thumb 
    {
        @apply rounded bg-slate-50;
    }
}
